p
  | Double-click to edit a todo
p
  | Credits:
  a(href='http://twitter.com/cburgdorf')
    | Christoph Burgdorf,
  a(href='http://ericbidelman.com')
    | Eric Bidelman,
  a(href='http://jacobmumm.com')
    | Jacob Mumm and
  a(href='http://blog.igorminar.com')
    | Igor Minar
p
  | Part of
  a(href='http://todomvc.com')
    | TodoMVC
