header#header
  h1
    | todos
  form#todo-form(ng-submit='ctrl.addTodo()', novalidate='', ng-controller='TodoController')
    input#new-todo(placeholder='What needs to be done?', ng-model='model.description', autofocus='')
section#main(ng-show='true')
  ul#todo-list
    li(ng-repeat='todo in todos')
      .view
        label
          | {{todo.description}}
        button.destroy(ng-click='removeTodo(todo)')
